[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aws-lambda-powertools = "~=2.30.2"
stripe = "~=7.11.0"
urllib3 = "~=1.26.18"
requests = "~=2.31.0"

[dev-packages]
invoke = "~=2.2.0"
boto3 = "~=1.26.90"

[requires]
python_version = "3.9"

[scripts]
package = "invoke package"
deploy = "invoke deploy"
